@import 'Tema';

.addEventoContainer {
    text-align: center;
    form {
        text-align: left;
        width: 50vw;
        margin: 0 auto;
        input, textarea {
            margin-left: 0px;
        }
    }

}