@import 'Tema';

.descripcionPagina {
    pre{
        font-size: 1.5em;
        color: var(--colortexto1);
        background-color: var(--fondoinput);        
    }
    margin-top: 1em;
    padding: 1em;
  
}