<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node-api  Cliente API</title>
    <link rel="stylesheet" type="text/css" href="/css/clienteAws.css"/>
</head>
<body>
    <div class="pagina clienteApi">
        <nav w3-include-html="/html/cabecera.html"></nav>
        <h1>Cliente AWS</h1>
        <p> Res:<%= JSON.stringify(datos) %> </p>
        <div class="formulario">
            <form action="/clienteapi/send" method="post" style="display:flex;flex-direction: column">
                <input  name='summary' type="text" placeholder="endpoint" required />
                <input type="submit" value="Enviar"></input>
            </form>
        </div>
    
    
    
        <div class="descripcionPagina">
            <pre>
                FUNCIONALIDAD DE LA PAGINA
                View clienteApi.ejs
                Cabecera:   seccion nav htm-include="cabecera.html"   include cabecera.js 
    
            </pre>
            </div>
    </div>



    <script src="/js/cabecera.js" type="module" ></script>
</body>
</html>